HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=database
DATABASE_USERNAME=user
DATABASE_PASSWORD=secure
DATABASE_SSL=false
DATABASE_FILENAME=

# These env variables are used by Docker Compose's db service
MYSQL_ROOT_PASSWORD=secure
MYSQL_DATABASE=database # Same as DATABASE_NAME
MYSQL_USER=user # Same as DATABASE_USERNAME
MYSQL_PASSWORD=secure # Same as DATABASE_PASSWORD